<h1>Manage Videos Marked Dirty</h1>
<div id="table">
		<table >
		<thead>
		  <tr>
		    <th>Name</th>
		    <th>Approved</th>
                    
		    <th colspan=3> <center>Actions</center></th>
		  </tr>
		 </thead>
		
		  
		 <%= render_collection_of_partials "row", @dirties %>
		</table>
</div>

 <%= will_paginate(@dirties) %>