<div id="cat_<%=@cat.id.to_s%>_error_area"></div>
<p><label for="topic">Topic</label>
<%= f.text_field :topic %></p>

<p><label for="data">Your thoughts </label>
<%= f.text_area :data, :cols => 50, :rows => 1  %></p>
