<div style="clear: both"><!-- --></div>
<div class="nav subnav" >
	<ul class="nav">
		<%= admin_nav_li("AD BACKENDS", admin_adbackends_path) %> 
		<%= admin_nav_li("AD PAGES", admin_ad_pages_path) %> 
	</ul>
</div>

<div class="clear"><!-- --></div>

