<div class="message_search_form">

    <% unless @cat.nil?%>
      <% id = @cat.id %>
    <% else %>
       <% id=0 %>
    <% end %>
    <% form_for :admin_message_search,  :url => admin_messages_path(:id => id )  do |s| %>
        <label for="item">Search</label>
        <%= s.text_field :item, {:size => 40, :onclick => "$('search_item').style.background = '#fff';" }%> 
        <%= image_submit_tag("search.png", :class=>'search_img') %><br/>
        <label for="clear_filter">Clear Search Category</label>
        <%= s.check_box :clear_filter %> 
    <% end %>
  </div>
