<div>
	<ul class="nav section_heading">
		<li class="heading">BARNES & NOBLE</li>
	</ul>
	<center style="padding-top: 5px">
	<script src="http://www.barnesandnoble.com/widgets/affiliate.asp?keyword&trcID=&wgID=&section=Book&afsrc=1&lkid=J24289348&pubid=K150765"></script>
	</center>
	<div class="clear"></div>
</div>