
<table>
	<tr>
		<td><div class="related_image">photo</div></td>
		<td class="related_author"> 
		     <div class="vid_title">TITLE OF VIDEO or PODCAST: by author</div>
			 <div class="vid_desc">
					usce vel nisl. Ut blandit lorem non dolor. Nam dignissim sem eget nisi. Nunc vehicula lectus a risus. Donec at ante. In hac 
					habitasse platea dictumst. Phasellus imperdiet, neque eget ultricies laoreet, purus nulla pellentesque pede, quis pulvinar nisl 	
					lorem sed erat.
			</div>
			<div class= "vid_tags">
					<ul class="nav">
						<li>Tags:</li>
						<li><%= link_to "something;", "" %></li>
						<li><%= link_to "something;", "" %></li>
						<li><%= link_to "something;", "" %></li>

					</ul>
			</div>
		 
		</td>
		<td >
			<div class="profile_photo">
				profile pic
			</div>
		</td>
	</tr>
</table>