<h1>Community Guidelines</h1>

<div id="guidelines">
  
  
  <h3>Know the Know</h3>
  <p>
    Profs are good, but peers are just more interesting. StudentsKnow.com is a
    realm for peer-to-peer learning and earning. The more people dig your teaching
    style, the more moolah, loot, dead Presidents and Benjamins in your pockets. 
  </p>
  
  <p>
    Yet, for the Molières in the house, this does not mean it’s cool to create
    flare by way of crude social-shock (i.e., if you’re claiming to teach the
    classic waltz, leave the nearly-naked dance at home or run the risk of losing 
    revenue and site membership).
  </p>
  
  <p>
    Integrity of content ensures that StudentsKnow.com can continue to support 
    and spread your brilliance so keep it real and keep it chill because Dirty 
    Knows are No-Nos.
  </p>
  
  <h3>Dirty Knows</h3>
  <p>
    Essentially, a Dirty Know is content that contains explicit material, or 
    material void of learning intentions.  Just to be clear, "content" consists 
    of, but is not limited to, your videos, podcasts, message board posts, 
    comments and even public profile text.  
  </p>
  
  <p>
    StudentsKnow.com is a community-regulated site, which means if you post a 
    Dirty Know, it will be collectively designated so by the community, not by
    StudentsKnow.com staff (in most instances).
  </p>
  
  <p>
    Calm down, this isn’t a dictatorship. One person’s disapproval does not 
    constitute a video removal.  However, if many people find a video to be 
    offensive or void of learning material, it will be frozen until the 
    perpetrator presents a case as to why his or her content is legitimate 
    and beneficial for the site.  We retain the right to remove any and all
     content we deem as inappropriate so when in doubt, skew toward more PG-13
     endeavors.   If your content has been pulled or you would like to report 
     a Dirty Know you can contact us at 
    <%= mail_to("dirtyknows@studentsknow.com", "dirtyknows@studentsknow.com")%>
  </p>
  
  <h3>Dirty Knows: Nitty-Gritty</h3>
  <p>
    The following constitute a "Dirty Know," but the list is not all-inclusive -
    that’s right, we know about the endlessly creative flag-worthy fence-riders.
  </p>
  
  <ul>
    <lh>Lewd or questionable content</lh>
    <li>Pornography</li>
    <li>Foul language</li>
    <li>Member-to-member aggression</li>
    <li>Hate Speech</li>
    <li>Disturbing or graphic visuals/words</li>
    
    <lh>Scholastically unrelated content</lh>
    <li>Content not directly related to teaching scholastic concepts or content
    relating to student life (in dedicated site sections and discussion forums)
    is not welcome on StudentsKnow.com. This is not a How-to or exhibition site.
    </li>
    
    <lh>Plagiarism</lh>
    <li>Under no circumstances should you be reading directly from textbooks or
    word-for-word class lectures. Failure to comply could result in serious
    scholastic repercussions by your school as well as legal troubles with book
    publishers and other rightful content owners.  Make sure that your content 
    is your personal interpretation of information and that it is presented as a
    supplement to the material, not a ‘follow the bouncing ball’ read-along.  
    Make sure to check your school’s policies regarding professor and University
    intellectual property.  Also, it couldn’t hurt to communicate directly with 
    your professor for permission to expound their knowledge.</li>
    <li>Copyright is a big deal. Only upload content that you have created or 
    that you have been given explicit permission/authorization to post. Also, 
    make sure you have the rights to any and all music/imagery used in your 
    content.</li>
  </ul>
  
  <p style="margin-left: 15px;">This can be a slippery topic, so always err on
  the side of caution. Please review our 
    <%= link_to("Terms&nbsp;and&nbsp;Conditions", terms_path) %> if you have any 
questions.</p>
  
  <ul>
    <lh>Spam</lh>
  </ul>
  <p style="margin-left: 15px;">StudentsKnow.com defines spam as consisting of 
  any disruptive and unsolicited single message or bulk messaging.</p>
  
  <ul>
    <li>Dangerous to eat and incredibly annoying to infect our site with it -- 
    so, decease and desist, compadres. Spammers will be removed from the site 
    immediately, without warning.</li>
    <li>Please do not use this forum for covert or overt advertising, agenda 
    pushing or deceptive rerouting.  It will not be tolerated.
    </li>
  </ul>
  
  
  
  
  <h3>Good Content Looks Like...</h3>
  <p>
  Using your dorm-mates to create a human DNA strand with informative and 
  over-dramatized Shakespearean voiceovers.</p>
  
  <p>Taking an excessively boring Chemistry lecture and retelling the high 
  points of the lecture as though it were through the eyes of a Textiles and 
  Apparel major.</p>
  
  <p>Showing off your mad C++ skills by explaining the "The programming of 
  Howard’s Killer Robo-land" on film. </p>
  
  <p>Or... simply retelling a scholastic concept in your own words to a world
  of fellow learners with a whiteboard and a smile. Get as creative or as 
  literal as you would like, but teach—for it is the true oil of progress!</p>
  
  <h3>Enjoy yourself, play safe and above all else – Create. Learn. Earn!</h3>
</div>