<ul class="nav section_heading">
	<li><!-- --></li>
</ul>

<center>
<%= image_tag("fb_about1.png")%><br>
<%= link_to(image_tag("fb_about2.png"), "http://www.studentsknow.com/about", :target => "_blank")%>
</center>