<p style="margin:10px; font-size: 1.2em;">
Submit your email address here, and we will send you an email with a link to reset your password.
</p>

<% form_for :user, :url => {:action => 'forgot_password'} do |f| %>
<p>
	<label for="user_email" class="block">Email Address: </label>
	<%= f.text_field :email %>
</p>
<%= submit_tag 'Send', {:class => "submit"} %>
<% end %>