<%#= errors_for :user %>
<% form_for :user, :url => reset_password_url(:id => @reset_code) do |f| %>

<p>
<label for="id" class="block">Reset Code:</label>
<%= text_field_tag :id, @reset_code, :size => 45, :class => 'text' %>
</p>

<p>
<label for="user_password" class="block">Password:</label>
<%= f.password_field :password, :size => 45, :class => 'text' %>
</p>

<p>
<label for="user_password_confirmation" class="block">Confirm Password:</label>
<%= f.password_field :password_confirmation, :size => 45, :class => 'text' %>
</p>

<%= submit_tag "Reset your password", {:class => 'submit'} %>
<% end %>