<ul class="nav footer_nav">
    <li><%= link_to "PRIVACY STATEMENT", privacy_path%></li>
    <li><%= link_to "TERMS & CONDITIONS", terms_path%></li>
    <li><%= link_to "COMMUNITY&nbsp;GUIDELINES", guidelines_path%><li>
    <li><%= link_to "HELP", help_path%></li>
    <li><%= link_to("CONTACT", contact_path)%></li>
    <li class="copy">&copy;&nbsp;2008&nbsp;StudentsKnow.com,&nbsp;LLC</li>    
</ul>